<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title full-width">
    <h2>Assignment
      <span class="pull-right">
        <a routerLink="../" class="an-btn an-btn-primary">
          <i class="glyphicon glyphicon-arrow-left"></i> &nbsp; Back</a>
      </span>
    </h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<!--<div class="an-doc-block default with-shadow">
    <p>This is default page layout.</p>
  </div>-->
<div class="row">
  <div class="col-md-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Assignment Details</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">
            <div class="col-sm-12">
              <h5>
                <b>Assignment Name :</b> BMI Executive MBA</h5>
              <h5>
                <b>Assignment Description :</b>
              </h5>
              <p>Managerial Economics & Global Economic Environment Take-home exam, to be completed individually, which will
                cover both of these courses.</p>
              <h5>
                <b>Due Date :</b> 12.03.2018</h5>
              <h5>
                <b>Submission Type :</b> Online</h5>
              <h5>
                <b>Assigned Group :</b> Group 1</h5>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT -->

  </div>
</div>



<div class="row">

  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Uploaded Document</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">

            <div class="col-sm-4">
              <div class="folder thumbnail">
                <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <img src="../assets/img/pdf.png" width="90" />

              </div>
            </div>
            <div class="col-sm-4">
              <div class="folder thumbnail">
                <a href="../Dummy text.docx" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                  <i class="glyphicon glyphicon-download-alt"></i>
                </a>
                <img src="../assets/img/wrd.png" width="90" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="folder thumbnail">
                <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <img src="../assets/img/pdf.png" width="90" />

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Document Uploading Status</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">

            <div class="col-sm-12">

              <div class="progress">
                <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" style="width:100%">
                  Final Document Submitted
                </div>
                < </div>
                  <span class="pull-left">Upload</span>
                  <span class="pull-right">Final Submission</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end row -->