<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Enrolled Students</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title">
    <h2>Enrolled Students</h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<!--<div class="an-doc-block default with-shadow">
      <p>This is default page layout.</p>
    </div>-->
<div class="an-single-component with-shadow">
  <div class="an-component-header">
    <h6 class="full-width">Enrolled Students
      <span class="pull-right">
        <a href="#" class="btn-sm an-btn an-btn-primary">
          <i class="glyphicon glyphicon-send"></i>&nbsp; Message</a>&nbsp;
        <a href="#" class="btn-sm an-btn an-btn-primary">
          <i class="glyphicon glyphicon-download-alt"></i> Import</a>&nbsp;
        <a href="#" class="btn-sm an-btn an-btn-primary">
          <i class="glyphicon glyphicon-print"></i> Print</a>&nbsp;&nbsp;</span>
    </h6>
  </div>
  <div class="an-component-body">
    <div class="an-helper-block">

      <div class="an-scrollable-x">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">
                <span class="an-custom-checkbox blocked danger">
                  <input type="checkbox" id="select_all">
                  <label for="select_all" style="margin-bottom:0;"></label>
                </span>
              </th>
              <th>Name</th>
              <th>Email</th>
              <th>Course</th>

              <th class="text-center">Status</th>
              <th width="15%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="an-custom-checkbox blocked danger">
                  <input type="checkbox" class="checkbox" id="check-1">
                  <label for="check-1"></label>
                </span>
              </td>
              <td>
                <a href="profile_student.html">Bendikaitė Jurga</a>
              </td>
              <td>jurga@bmi.lt </td>
              <td>EMBA 19</td>

              <td class="text-center">Active</td>
              <td>
                <a href="profile_student.html" class="an-btn an-btn-default btn-xs">
                  <i class="glyphicon glyphicon-eye-open"></i>&nbsp;View</a> &nbsp;
                <a href="students-activity.html" class="an-btn an-btn-default btn-xs">
                  <i class="glyphicon glyphicon-signal"></i>&nbsp;Activity</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="an-custom-checkbox blocked danger">
                  <input type="checkbox" class="checkbox" id="check-2">
                  <label for="check-2"></label>
                </span>
              </td>
              <td>Bendikaitė Jurga</td>
              <td>jurga@bmi.lt </td>
              <td>EMBA 19</td>

              <td class="text-center">Inactive</td>
              <td>
                <a href="profile_student.html" class="an-btn an-btn-default btn-xs">
                  <i class="glyphicon glyphicon-eye-open"></i>&nbsp;View</a> &nbsp;
                <a href="students-activity.html" class="an-btn an-btn-default btn-xs">
                  <i class="glyphicon glyphicon-signal"></i>&nbsp;Activity</a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="an-custom-checkbox blocked danger">
                  <input type="checkbox" class="checkbox" id="check-3">
                  <label for="check-3"></label>
                </span>
              </td>
              <td>Bendikaitė Jurga</td>
              <td>jurga@bmi.lt </td>
              <td>EMBA 19</td>

              <td class="text-center">Hold</td>
              <td>
                <a href="profile_student.html" class="an-btn an-btn-default btn-xs">
                  <i class="glyphicon glyphicon-eye-open"></i>&nbsp;View</a> &nbsp;
                <a href="students-activity.html" class="an-btn an-btn-default btn-xs">
                  <i class="glyphicon glyphicon-signal"></i>&nbsp;Activity</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- end .AN-HELPER-BLOCK -->
  </div>
  <!-- end .AN-COMPONENT-BODY -->
</div>