<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li class="active">Courses</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title" style="width:100%;">
    <h2>Courses
      <span class="pull-right">
        <a href="#" data-toggle="modal" data-target="#importModal" class="an-btn an-btn-default">
          <i class="glyphicon glyphicon-download-alt"></i> &nbsp; Import</a> &nbsp;
        <a href="create_course.html" class="an-btn an-btn-default">
          <i class="glyphicon glyphicon-plus"></i> &nbsp;Create New Course</a>
      </span>
    </h2>
  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<div class="an-blog-container" style="padding-top:0;">
  <div class="row">
    <div class="col-sm-12">
      <h4>BMI Executive MBA</h4>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background: url('./assets/img/blog/blog-post-6.jpg') center center no-repeat;
                    background-size:cover;">
          <span class="tag">ACCOUNTING</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Business performance management 2019</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
              <a href="#" class="pull-right">
                <i class="icon icon-user"></i> 4</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background:url(assets/img/blog/blog-post-2.jpeg) center center no-repeat;
                    background-size:cover;">
          <span class="tag">INTRODUCTORY SESSION</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Business performance management 2019</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
              <a href="#" class="pull-right">
                <i class="icon icon-user"></i> 4</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>BMI Leadership</h4>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background:url(assets/img/blog/blog-post-3.jpeg) center center no-repeat;
                    background-size:cover;">
          <span class="tag">INTRODUCTORY SESSION</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Business performance management 2019</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
              <a href="#" class="pull-right">
                <i class="icon icon-user"></i> 4</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background:url(assets/img/blog/blog-post-5.jpeg) center center no-repeat;
                    background-size:cover;">
          <span class="tag">ACCOUNTING</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Business performance management 2019</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
              <a href="#" class="pull-right">
                <i class="icon icon-user"></i> 4</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background: url('./assets/img/blog/blog-post-6.jpg') center center no-repeat;
                    background-size:cover;">
          <span class="tag">ACCOUNTING</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Business performance management 2019</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
              <a href="#" class="pull-right">
                <i class="icon icon-user"></i> 4</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

  </div>
  <!-- end row -->

  <!--<div class="an-pagination-container center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="ion-chevron-left"></i></span>
                  </a>
                </li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">..</a></li>
                <li><a href="#">45</a></li>
                <li><a href="#">55</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="ion-chevron-right"></i></span>
                  </a>
                </li>
              </ul>
            </div>-->
  <!-- end pagination ocntainer -->
</div>


<div id="importModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">Import Course Details</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-4">
          <label>Select Year</label>
          <select class="an-form-control">
            <option>EMBA XVIII</option>
            <option>EMBA XVII</option>
            <option>EMBA XVI</option>
            <option>EMBA XV</option>
          </select>
        </div>
        <div class="clearfix"></div>
        <div class="an-scrollable-x import-box">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <span class="an-custom-checkbox primary">
                    <input type="checkbox" id="select_all">
                    <label for="select_all">#</label>
                  </span>
                </th>
                <th>Programme</th>
                <th>Module</th>
                <th>Course</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="an-custom-checkbox primary">
                    <input type="checkbox" class="checkbox" id="check-7" value="1">
                    <label for="check-7">1</label>
                  </span>
                </td>
                <td>BMI Executive MBA</td>
                <td>Accounting</td>
                <td>Business performance management</td>
              </tr>
              <tr>
                <td>
                  <span class="an-custom-checkbox primary">
                    <input type="checkbox" class="checkbox" id="check-8" value="2">
                    <label for="check-8">2</label>
                  </span>
                </td>
                <td>BMI Executive MBA</td>
                <td>INTRODUCTORY SESSION</td>
                <td>Academic Regulation of Studies</td>
              </tr>
              <tr>
                <td>
                  <span class="an-custom-checkbox primary">
                    <input type="checkbox" class="checkbox" id="check-9" value="3">
                    <label for="check-9">3</label>
                  </span>
                </td>
                <td>BMI Executive MBA</td>
                <td>Accounting</td>
                <td>BMI Integrity Policy</td>
              </tr>
              <tr>
                <td>
                  <span class="an-custom-checkbox primary">
                    <input type="checkbox" class="checkbox" id="check-10" value="4">
                    <label for="check-10">4</label>
                  </span>
                </td>
                <td>BMI Executive MBA</td>
                <td>Accounting</td>
                <td>Leadership & Executive Presence</td>
              </tr>
              <!--<tr>
                            <td><span class="an-custom-checkbox primary">
                          <input type="checkbox" class="checkbox" id="check-11" value="5">
                          <label for="check-11">5</label>
                        </span></td>
                            <td>BMI Executive MBA</td>
                            <td>Accounting</td>
                            <td>Business performance management</td>
                        </tr>
                        <tr>
                            <td><span class="an-custom-checkbox primary">
                          <input type="checkbox" class="checkbox" id="check-12" value="6">
                          <label for="check-12">6</label>
                        </span></td>
                            <td>BMI Executive MBA</td>
                            <td>Accounting</td>
                            <td>Business performance management</td>
                        </tr>-->
            </tbody>
          </table>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default same-an-btn" data-dismiss="modal">Close</button>
        <button type="button" class="an-btn an-btn-primary">Import</button>
      </div>
    </div>

  </div>
</div>