.uploaded-file {
    padding: 0.75rem 1.25rem;
    border: 1px solid #b2304d;
    border-radius: 3px;
    line-height: 22px;
    height: 38px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.uploaded-file span {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uploaded-file i {
    cursor: pointer;
    color: red;
}