<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title">
    <h2>Closed-Book Exams</h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<div class="row">
  <div class="col-sm-12">
    <div class="an-single-component with-shadow grade-div">

      <div class="prog-div un-hover">
        <h5>MODULE 2 : ACCOUNTING</h5>
        <div class="an-scrollable-x offset">
          <table class="table hov grade-all">
            <thead>
              <tr>
                <th>Date</th>
                <th>Exam Name</th>

                <th class="text-center">Prog. Name</th>
                <th class="text-center">View Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2018-01-18 to 2018-01-20</td>
                <td>Management Accounting & Control </td>

                <td class="text-center">EMBA 19</td>

                <td class="text-center">
                  <a href="grades.html" class="an-btn btn-xs an-btn-primary text-capitalize">
                    <i class="glyphicon glyphicon-eye-open"></i> View</a>
                </td>
              </tr>
              <tr>
                <td>2018-01-18 to 2018-01-20</td>
                <td>Financial Accounting</td>

                <td class="text-center">EMBA 19</td>
                <td class="text-center">
                  <a href="grades.html" class="an-btn btn-xs an-btn-primary text-capitalize">
                    <i class="glyphicon glyphicon-eye-open"></i> View</a>
                </td>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="an-single-component with-shadow grade-div">

      <div class="prog-div un-hover">
        <h5>CORPORATE FINANCE & COMPANY VALUATION</h5>
        <div class="an-scrollable-x offset">
          <table class="table hov grade-all">
            <thead>
              <tr>
                <th>Date</th>
                <th>Exam Name</th>
                <th class="text-center">Prog. Name</th>
                <th class="text-center">View Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2018-03-22 to 2018-03-22</td>
                <td>Corporate Finance & Company Valuation</td>

                <td class="text-center">EMBA 19</td>
                <td class="text-center">
                  <a href="grades.html" class="an-btn btn-xs an-btn-primary text-capitalize">
                    <i class="glyphicon glyphicon-eye-open"></i> View</a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="an-single-component with-shadow grade-div">

      <div class="prog-div un-hover">
        <h5>MODULE 7: OPERATIONS & SUPPLY-CHAIN MANAGEMENT</h5>
        <div class="an-scrollable-x offset">
          <table class="table hov grade-all">
            <thead>
              <tr>
                <th>Date</th>
                <th>Exam Name</th>

                <th class="text-center">Prog. Name</th>
                <th class="text-center">View Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2018-03-22 to 2018-03-22</td>
                <td>OPERATIONS & SUPPLY-CHAIN MANAGEMENT</td>

                <td class="text-center">EMBA 19</td>
                <td class="text-center">
                  <a href="grades.html" class="an-btn btn-xs an-btn-primary text-capitalize">
                    <i class="glyphicon glyphicon-eye-open"></i> View</a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>