<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title full-width">
    <h2>Programme
      <!--<span class="pull-right"><a href="emba.html" class="an-btn btn-default same-an-btn">Cancel</a> <a href="emba.html" class="an-btn an-btn-default"><i class="glyphicon glyphicon-floppy-saved"></i> Save</a></span>-->
    </h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<!--<div class="an-doc-block default with-shadow">
    <p>This is default page layout.</p>
  </div>-->
<div class="row">
  <div class="col-md-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Programme Details</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">
            <div class="col-sm-12">
              <h5>
                <b>Programme Name :</b> BMI Executive MBA</h5>
              <h5>
                <b>Start Date :</b> 27.07.2018</h5>
              <h5>
                <b>End Date :</b>29.07.2018</h5>
              <h5>
                <b>Programme Description :</b>
              </h5>
              <p>Managerial Economics & Global Economic Environment Take-home exam, to be completed individually, which will
                cover both of these courses.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT -->

  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Uploaded Photos</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">
            <a href="../assets/img/profile-image.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <div class="folder">

                <img src="../assets/img/profile-image.jpg" class=" img-responsive thumbnail" />
              </div>

            </a>
            <a href="../assets/img/profile-image.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <div class="folder">

                <img src="../assets/img/profile-image.jpg" class=" img-responsive thumbnail" />
              </div>
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
              <div class="folder">

                <img src="../assets/img/profile-image.jpg" class=" img-responsive thumbnail" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Uploaded Videos</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">
            <a href="https://www.youtube.com/embed/z_3S2_41_FE" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
              <div class="folder">

                <img src="../assets/img/video.png" class=" img-responsive thumbnail" />
              </div>
            </a>
            <a href="https://www.youtube.com/embed/z_3S2_41_FE" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
              <div class="folder">

                <img src="../assets/img/video.png" class=" img-responsive thumbnail" />
              </div>
            </a>
            <a href="https://www.youtube.com/embed/z_3S2_41_FE" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
              <div class="folder">

                <img src="../assets/img/video.png" class=" img-responsive thumbnail" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Uploaded Document</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">

            <div class="col-sm-4">
              <div class="folder thumbnail">
                <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <img src="../assets/img/pdf.png" width="90" />

              </div>
            </div>
            <div class="col-sm-4">
              <div class="folder thumbnail">
                <a href="../Dummy text.docx" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                  <i class="glyphicon glyphicon-download-alt"></i>
                </a>
                <img src="../assets/img/wrd.png" width="90" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="folder thumbnail">
                <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <img src="../assets/img/pdf.png" width="90" />

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>