<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li class="active">Messages</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title">
    <h2>Messages</h2>
    <p>Welcome back, John
      <a href="#">
        <i class="icon-marker"></i>California</a>
    </p>
  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<div class="an-inbox-content">
  <div class="row">
    <div class="col-md-3">
      <div class="an-tab-control listview with-shadow">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs text-center" role="tablist">
          <li role="presentation" class="active">
            <a href="#inbox" aria-controls="inbox" role="tab" data-toggle="tab">
              <i class="ion-ios-email-outline inbox-color"></i>Inbox (3)</a>
          </li>
          <li role="presentation">
            <a href="#sent" aria-controls="sent" role="tab" data-toggle="tab">
              <i class="ion-paper-airplane sent-color"></i>Sent mail</a>
          </li>
          <li role="presentation">
            <a href="#draft" aria-controls="draft" role="tab" data-toggle="tab">
              <i class="ion-edit draft-color"></i>Draft</a>
          </li>
          <li role="presentation">
            <a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab">
              <i class="ion-ios-heart fav-color"></i>Favorites</a>
          </li>
          <li role="presentation">
            <a href="#trash" role="tab" data-toggle="tab">
              <i class="ion-ios-trash-outline trash-color"></i>Trash</a>
          </li>
        </ul>
      </div>



    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="inbox">
          <div class="an-single-component with-shadow">
            <div class="an-component-header">
              <h6>Inbox</h6>
              <div class="component-header-right">
                <form class="an-form" action="#">
                  <div class="an-search-field">
                    <input class="an-form-control" type="text" placeholder="Search...">
                    <button class="an-btn an-btn-icon" type="submit">
                      <i class="icon-search"></i>
                    </button>
                  </div>
                </form>

                <div class="an-next-prev-btn">
                  <button class="an-control-btn">
                    <i class="icon-arrow-left"></i>
                  </button>
                  <button class="an-control-btn">
                    <i class="icon-arrow-right"></i>
                  </button>

                </div>
              </div>
            </div>
            <div class="an-component-body an-inbox-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="an-info-content notifications-info" style="width: 300px;">
                    <div class="an-info-single unread favorite open">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user1.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Ana malik</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>15:28</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread important">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user2.jpg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jackson Fred</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>4:54</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single warning">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user3.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Emma Watson</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single social">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user4.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Elina</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single social">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user5.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jack Elison</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>20 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single favorite">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user6.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Lara Smith</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>10 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread favorite">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user1.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Ana malik</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>15:28</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread important">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user2.jpg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jackson Fred</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>4:54</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user3.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Emma Watson</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user4.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Elina</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user5.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jack Elison</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>20 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user6.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Lara Smith</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>10 Sep</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- end .AN-INFO-CONTENT -->
                </div>
                <div class="col-md-7">
                  <div class="an-inbox-message-details">
                    <h5 class="title">Lorem Ipsum Dolor Sit Amit</h5>
                    <div class="sender">
                      <div>
                        <span class="user-img" style="background: url('../assets/img/users/user1.jpeg') center center no-repeat; background-size: cover;"></span>
                        <a href="#">Ana Malik</a>
                        <span class="an-time">
                          <i class="icon-clock"></i>10:04</span>
                      </div>

                      <div class="list-action basis-10">
                        <div class="btn-group">
                          <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-setting"></i>
                          </button>
                          <div class="dropdown-menu right-align">
                            <ul class="an-basic-list">
                              <li>
                                <a href="#">Mark as read</a>
                              </li>
                              <li>
                                <a href="#">Mark as unread</a>
                              </li>
                              <li>
                                <a href="#">Select</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <button class="an-btn an-btn-icon small muted danger">
                          <i class="icon-trash"></i>
                        </button>
                      </div>
                    </div>
                    <!-- end .sender -->
                    <div class="message-body">
                      <strong>Loren Ipsum</strong>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum.</p>

                      <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                        .
                      </p>

                      <div class="attachment">
                        <p class="filename">
                          <i class="icon-file"></i>analog.psd</p>
                        <button class="an-control-btn">
                          <i class="icon-download"></i>
                        </button>
                      </div>
                    </div>
                    <!-- end message-body -->

                    <div class="an-reply-form">
                      <textarea class="an-form-control" placeholder="Type message here..."></textarea>
                      <button class="an-btn an-btn-transparent">Send</button>
                    </div>

                  </div>
                  <!-- end .AN-INBOX-MESSAGE-DETAILS -->
                </div>
              </div>
            </div>
            <!-- end .AN-COMPONENT-BODY -->
          </div>
          <!-- end .AN-SINGLE-COMPONENT -->

        </div>
        <!-- end .TAB-PANE -->

        <div role="tabpanel" class="tab-pane fade in" id="sent">
          <div class="an-single-component with-shadow">
            <div class="an-component-header">
              <h6>Sent</h6>
              <div class="component-header-right">
                <form class="an-form" action="#">
                  <div class="an-search-field">
                    <input class="an-form-control" type="text" placeholder="Search...">
                    <button class="an-btn an-btn-icon" type="submit">
                      <i class="icon-search"></i>
                    </button>
                  </div>
                </form>

                <div class="an-next-prev-btn">
                  <button class="an-control-btn">
                    <i class="icon-arrow-left"></i>
                  </button>
                  <button class="an-control-btn">
                    <i class="icon-arrow-right"></i>
                  </button>

                </div>
              </div>
            </div>
            <div class="an-component-body an-inbox-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="an-info-content notifications-info" style="width: 300px;">
                    <div class="an-info-single unread favorite open">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user1.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Ana malik</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>15:28</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread important">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user2.jpg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jackson Fred</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>4:54</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single warning">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user3.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Emma Watson</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single social">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user4.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Elina</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single social">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user5.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jack Elison</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>20 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single favorite">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user6.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Lara Smith</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>10 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread favorite">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user1.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Ana malik</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>15:28</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread important">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user2.jpg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jackson Fred</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>4:54</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user3.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Emma Watson</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user4.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Elina</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user5.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jack Elison</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>20 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user6.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Lara Smith</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>10 Sep</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- end .AN-INFO-CONTENT -->
                </div>
                <div class="col-md-7">
                  <div class="an-inbox-message-details">
                    <h5 class="title">Lorem Ipsum Dolor Sit Amit</h5>
                    <div class="sender">
                      <div>
                        <span class="user-img" style="background: url('../assets/img/users/user1.jpeg') center center no-repeat; background-size: cover;"></span>
                        <a href="#">Ana Malik</a>
                        <span class="an-time">
                          <i class="icon-clock"></i>10:04</span>
                      </div>

                      <div class="list-action basis-10">
                        <div class="btn-group">
                          <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-setting"></i>
                          </button>
                          <div class="dropdown-menu right-align">
                            <ul class="an-basic-list">
                              <li>
                                <a href="#">Mark as read</a>
                              </li>
                              <li>
                                <a href="#">Mark as unread</a>
                              </li>
                              <li>
                                <a href="#">Select</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <button class="an-btn an-btn-icon small muted danger">
                          <i class="icon-trash"></i>
                        </button>
                      </div>
                    </div>
                    <!-- end .sender -->
                    <div class="message-body">
                      <strong>Loren Ipsum</strong>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum.</p>

                      <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                        .
                      </p>

                      <div class="attachment">
                        <p class="filename">
                          <i class="icon-file"></i>analog.psd</p>
                        <button class="an-control-btn">
                          <i class="icon-download"></i>
                        </button>
                      </div>
                    </div>
                    <!-- end message-body -->

                  </div>
                  <!-- end .AN-INBOX-MESSAGE-DETAILS -->
                </div>
              </div>
            </div>
            <!-- end .AN-COMPONENT-BODY -->
          </div>
          <!-- end .AN-SINGLE-COMPONENT -->
        </div>
        <!-- end .TAB-PANE -->

        <div role="tabpanel" class="tab-pane fade in" id="draft">
          <div class="an-single-component with-shadow">
            <div class="an-component-header">
              <h6>Draft</h6>
              <div class="component-header-right">
                <form class="an-form" action="#">
                  <div class="an-search-field">
                    <input class="an-form-control" type="text" placeholder="Search...">
                    <button class="an-btn an-btn-icon" type="submit">
                      <i class="icon-search"></i>
                    </button>
                  </div>
                </form>

                <div class="an-next-prev-btn">
                  <button class="an-control-btn">
                    <i class="icon-arrow-left"></i>
                  </button>
                  <button class="an-control-btn">
                    <i class="icon-arrow-right"></i>
                  </button>

                </div>
              </div>
            </div>
            <div class="an-component-body an-inbox-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="an-info-content notifications-info" style="width: 300px;">
                    <div class="an-info-single unread favorite open">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user1.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Ana malik</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>15:28</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread important">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user2.jpg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jackson Fred</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>4:54</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single warning">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user3.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Emma Watson</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single social">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user4.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Elina</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single social">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user5.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jack Elison</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>20 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single favorite">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user6.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Lara Smith</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>10 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread favorite">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user1.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Ana malik</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>15:28</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single unread important">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user2.jpg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jackson Fred</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>4:54</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user3.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Emma Watson</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user4.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Elina</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>28 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user5.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Jack Elison</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>20 Sep</span>
                        </div>
                      </a>
                    </div>

                    <div class="an-info-single">
                      <a href="#">
                        <span class="user-img" style="background-image: url('../assets/img/users/user6.jpeg')"></span>
                        <div class="info-content">
                          <h5 class="user-name">Lara Smith</h5>
                          <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                          <span class="info-time">
                            <i class="icon-clock"></i>10 Sep</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- end .AN-INFO-CONTENT -->
                </div>
                <div class="col-md-7">
                  <div class="an-inbox-message-details">
                    <h5 class="title">Lorem Ipsum Dolor Sit Amit</h5>
                    <div class="sender">
                      <div>
                        <span class="user-img" style="background: url('../assets/img/users/user1.jpeg') center center no-repeat; background-size: cover;"></span>
                        <a href="#">Ana Malik</a>
                        <span class="an-time">
                          <i class="icon-clock"></i>10:04</span>
                      </div>

                      <div class="list-action basis-10">
                        <div class="btn-group">
                          <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-setting"></i>
                          </button>
                          <div class="dropdown-menu right-align">
                            <ul class="an-basic-list">
                              <li>
                                <a href="#">Mark as read</a>
                              </li>
                              <li>
                                <a href="#">Mark as unread</a>
                              </li>
                              <li>
                                <a href="#">Select</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <button class="an-btn an-btn-icon small muted danger">
                          <i class="icon-trash"></i>
                        </button>
                      </div>
                    </div>
                    <!-- end .sender -->
                    <div class="message-body">
                      <strong>Loren Ipsum</strong>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum.</p>

                      <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                        and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
                        .
                      </p>

                      <div class="attachment">
                        <p class="filename">
                          <i class="icon-file"></i>analog.psd</p>
                        <button class="an-control-btn">
                          <i class="icon-download"></i>
                        </button>
                      </div>
                    </div>
                    <!-- end message-body -->

                  </div>
                  <!-- end .AN-INBOX-MESSAGE-DETAILS -->
                </div>
              </div>
            </div>
            <!-- end .AN-COMPONENT-BODY -->
          </div>
          <!-- end .AN-SINGLE-COMPONENT -->
        </div>
        <!-- end .TAB-PANE -->

        <div role="tabpanel" class="tab-pane fade in" id="favorite">

        </div>
        <!-- end .TAB-PANE -->

        <div role="tabpanel" class="tab-pane fade in" id="trash">

        </div>
        <!-- end .TAB-PANE -->
      </div>
      <!-- end .TAB-CONTENT -->
    </div>
  </div>
</div>
<!-- end .AN-INBOX-CONTENT -->