<div id="viewProg" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">BMI Executive MBA</h4>
      </div>
      <div class="modal-body" style="height:400px; overflow:auto;">


        <div class="row">
          <div class="col-sm-12">
            <div class="an-scrollable-x">
              <table class="table table-bordered table-hover">

                <tbody>
                  <tr>
                    <th width="25%">Start Date</th>
                    <td width="25%">2017-11-09, 4.00 pm</td>
                    <th width="25%">End Date</th>
                    <td width="25%">2019-06-21, 5.00 pm</td>
                  </tr>
                  <tr>

                    <th width="30%" colspan="2">MODULE 1: INTRODUCTORY SESSION</th>
                    <td width="70%" colspan="2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</td>
                  </tr>
                  <tr>

                    <th width="30%" colspan="2">Leadership & Executive Presence</th>
                    <td width="70%" colspan="2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</td>
                  </tr>
                  <tr>

                    <th colspan="2">Assigned Teacher</th>
                    <td colspan="2">1. Aad JCM Van Vliet , 2. Lars Ohnemus</td>
                  </tr>
                  <tr>

                    <th colspan="2">Exam Name</th>
                    <td colspan="2">Leadership & Executive Presence </td>
                  </tr>
                  <tr>

                    <th colspan="2">Uploaded Photos</th>
                    <td colspan="2">
                      <div class="row">
                        <a href="../assets/img/profile-image.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                          <div class="folder">

                            <img src="../assets/img/profile-image.jpg" class=" img-responsive thumbnail">
                          </div>

                        </a>
                        <a href="../assets/img/profile-image.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                          <div class="folder">

                            <img src="../assets/img/profile-image.jpg" class=" img-responsive thumbnail">
                          </div>
                        </a>
                        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                          <div class="folder">

                            <img src="../assets/img/profile-image.jpg" class=" img-responsive thumbnail">
                          </div>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>

                    <th colspan="2">Uploaded Videos</th>
                    <td colspan="2">
                      <div class="row">
                        <a href="https://www.youtube.com/embed/z_3S2_41_FE" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-3">
                          <div class="folder">

                            <img src="../assets/img/video.png" class=" img-responsive thumbnail">
                          </div>
                        </a>
                        <a href="https://www.youtube.com/embed/z_3S2_41_FE" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-3">
                          <div class="folder">

                            <img src="../assets/img/video.png" class=" img-responsive thumbnail">
                          </div>
                        </a>
                        <a href="https://www.youtube.com/embed/z_3S2_41_FE" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-3">
                          <div class="folder">

                            <img src="../assets/img/video.png" class=" img-responsive thumbnail">
                          </div>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>

                    <th colspan="2">Uploaded Documents</th>
                    <td colspan="2">
                      <div class="row">

                        <div class="col-sm-3">
                          <div class="folder thumbnail">
                            <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                              <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <img src="../assets/img/pdf.png" width="90">

                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="folder thumbnail">
                            <a href="../Dummy text.docx" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                              <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                            <img src="../assets/img/wrd.png" width="90">
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="folder thumbnail">
                            <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                              <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <img src="../assets/img/pdf.png" width="90">

                          </div>
                        </div>


                      </div>
                    </td>
                  </tr>
                  <tr>

                    <th colspan="2">Submitted Assignments</th>
                    <td colspan="2">
                      <div class="row">

                        <div class="col-sm-3">
                          <div class="folder thumbnail">
                            <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                              <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <img src="../assets/img/pdf.png" width="90">

                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="folder thumbnail">
                            <a href="../Dummy text.docx" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                              <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                            <img src="../assets/img/wrd.png" width="90">
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="folder thumbnail">
                            <a href="../dummy.pdf" target="_blank" class="an-btn btn-xs an-btn-primary folder-btn">
                              <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <img src="../assets/img/pdf.png" width="90">

                          </div>
                        </div>


                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <!-- end .AN-SINGLE-COMPONENT -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>