<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title full-width">
    <h2>Discussion Board
      <span class="pull-right">
        <a href="discussions.html" class="an-btn an-btn-default">
          <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp; Back</a>
      </span>
    </h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<div class="row">
  <div class="col-md-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Discussion</h6>
        <!--<div class="component-header-right">
              <div class="an-settings-button">
                <a class="only-hover-setting circle" href="#"><i class="icon-setting"></i></a>
                <a class="only-hover-remove circle" href="#"><i class="icon-close"></i></a>
              </div>
            </div>-->
      </div>
      <div class="an-component-body">
        <div class="an-activity-content">
          <div class="activity-signle">
            <div class="activity-icon">
              <i class="icon-plus"></i>
            </div>
            <div class="activity-body">
              <p>
                <a href="#">Sylvain Guiheneuc </a>added a new files
                <a href="#">Analog.psd</a>
              </p>
              <span class="time">
                <i class="icon-clock"></i> 3 Min Ago</span>
            </div>
          </div>

          <div class="activity-signle">
            <div class="activity-icon friend-color">
              <i class="icon-user"></i>
            </div>
            <div class="activity-body">
              <p>
                <a href="#">Anna annikia </a>added 3 friends</p>
              <span class="time">
                <i class="icon-clock"></i> 1 day ago</span>
            </div>
          </div>

          <div class="activity-signle">
            <div class="activity-icon comment-color">
              <i class="icon-chat-o"></i>
            </div>
            <div class="activity-body">
              <p>
                <a href="#">Sylvain Guiheneuc </a>added 1 comment on
                <a href="#">Analog.psd</a>
              </p>
              <span class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua</span>
              <span class="time">
                <i class="icon-clock"></i> yesterday</span>
            </div>
          </div>
        </div>
        <!-- end .AN-ACTIVITY-CONTENT -->

        <div class="an-activity-content">
          <div class="activity-signle with-image">
            <div class="activity-icon" style="background: url('./assets/img/users/user1.jpeg') center center no-repeat;
                  background-size: cover;">
            </div>
            <div class="activity-body">
              <p>
                <a href="#">Sylvain Guiheneuc </a>added a new files
                <a href="#">Analog.psd</a>
              </p>
              <span class="time">
                <i class="icon-clock"></i> 3 Min Ago</span>
            </div>
          </div>

          <div class="activity-signle with-image">
            <div class="activity-icon" style="background: url('./assets/img/users/user2.jpg') center center no-repeat;
                  background-size: cover;">
            </div>
            <div class="activity-body">
              <p>
                <a href="#">Frances Gunn </a>now following you</p>
              <span class="time">
                <i class="icon-clock"></i> 2 hours ago</span>
            </div>
          </div>
        </div>
        <!-- end .AN-ACTIVITY-CONTENT -->
        <div class="an-chat-form" style="padding:15px;">
          <form class="an-form" action="#">
            <div class="an-search-field topbar">
              <input class="an-form-control" type="text" placeholder="Type message here...">
              <button class="an-btn an-btn-icon" type="submit">
                <i class="ion-paper-airplane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT -->
  </div>
</div>