<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title">
    <h2>Dashboard</h2>
    <p>Welcome back, John
      <a href="#">
        <i class="icon-marker"></i>California</a>
    </p>
  </div>

  <!--<div class="an-daterange-picker">
     <div id="reportrange" class="pull-right">
       <i class="icon-calendar"></i>&nbsp;
       <span></span>
     </div>
   </div>-->
  <!-- end AN-DATERANGE-PICKER -->
</div>
<!-- end AN-BODY-TOPBAR -->

<!-- end .AN-PANEL-MAIN-INFO -->
<div class="clearfix"></div>
<!-- end Third row -->
<div class="row">
  <div class="col-sm-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-body">
        <div class="an-helper-block">
          <div style="position:relative; height:200px; max-height:200px; background:url(../assets/img/stud-cover.png) top center; background-size:cover;">
            <span class="an-btn an-btn-default tag-top-left">EMBA 19</span>
          </div>

        </div>
        <!-- end .AN-HELPER-BLOCK -->
        <div class="clearfix"></div>
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Calender</h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <div class="row">
            <div class="col-sm-8">
              <!-- <div id='calendar'></div> -->
              <div *ngIf="calendarOptions">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions"></ng-fullcalendar>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="col-sm-4">


              <div class="clearfix"></div>
              <ul class="calender-list">
                <li>
                  <h4>Lecture</h4>
                  <p>Executive presence</p>
                  <p>prof. Amy Carroll</p>
                  <p>10.00 AM - 11.00 AM</p>
                </li>
              </ul>
              <ul class="calender-list exam">
                <li>
                  <h4>Exam</h4>
                  <p>Executive presence</p>
                  <p>prof. Amy Carroll</p>
                  <p>10.00 AM - 11.00 AM</p>
                </li>
              </ul>
              <ul class="calender-list project">
                <li>
                  <h4>Project</h4>
                  <p>Executive presence</p>
                  <p>prof. Amy Carroll</p>
                  <p>10.00 AM - 11.00 AM</p>
                </li>
              </ul>
              <div class="clearfix"></div>
              <ul class="guide">
                <li>
                  <span class="exam"></span> Exam</li>
                <li>
                  <span class="lecture"></span> Lecture</li>
                <li>
                  <span class="project"></span> Projects</li>
                <li>
                  <span class="lunch"></span> Lunch</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

</div>

<div class="row">
  <div class="col-sm-6">

    <div class="an-single-component with-shadow">
      <div class="an-component-header full-width">
        <h6 class="full-width">Upcoming Module
          <span class="pull-right">
            <a href="javascrit:void();" class="an-btn an-btn-primary btn-xs">
              <i class="glyphicon glyphicon-chevron-left"></i>
            </a> &nbsp;
            <a href="javascrit:void();" class="an-btn an-btn-primary btn-xs">
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
          </span>
        </h6>

      </div>
      <div class="an-component-body">
        <div class="an-helper-block">
          <h5>
            <b>Date :</b> 19.03.2018</h5>
          <h5>
            <b>Course :</b> Leadership & Executive Presence</h5>
          <h5>
            <b>Days :</b> Thursday-Saturday and Monday-Wednesday</h5>
          <hr>
          <div class="an-scrollable-x">
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th class="text-center">Form</th>
                  <th class="text-center">To</th>
                  <th class="text-center">Details</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>10:45</td>
                  <td>12:30</td>
                  <td>Lectures On Accounts</td>
                </tr>

                <tr>
                  <td>12:30</td>
                  <td>13:30</td>
                  <td>Lunch break</td>
                </tr>
                <tr>
                  <td>10:45</td>
                  <td>12:30</td>
                  <td>Lectures On Math</td>
                </tr>
                <tr>
                  <td>13:00</td>
                  <td>13:45</td>
                  <td>Evening Activity</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Group announcement</h6>

      </div>
      <div class="an-component-body">
        <div class="an-feeds-content an-customScrollbar ps-container ps-theme-default ps-active-y" data-ps-id="59a0e906-a394-e979-5757-7cb190565266">
          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">BMI 4-Continent Executive MBA Class XIX officially ‘baptized’ into the BMI Family of 750 executives</h5>
                <p class="content">
                  <i class="icon-clock"></i> 30 min ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">Finance experts share insights with BMI EMBA participants</h5>
                <p class="content">
                  <i class="icon-clock"></i> 1 hour ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">Happy 10th birthday to the programme “I Choose to Teach!”</h5>
                <p class="content">
                  <i class="icon-clock"></i> 2 hour ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">"Why Profits are not Enough" Session</h5>
                <p class="content">
                  <i class="icon-clock"></i> 3 hour ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-bullhorn"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">"Why Profits are not Enough" Session</h5>
                <p class="content">
                  <i class="icon-clock"></i> 3 hour ago</p>
              </div>
            </a>
          </div>

          <!--<div class="an-info-single unread">
                 <a href="#">
                   <span class="icon-container important">
                     <i class="icon-setting"></i>
                   </span>
                   <div class="info-content">
                     <h5 class="user-name">User Settings is updated to level 6</h5>
                     <p class="content"><i class="icon-clock"></i> 30 min ago</p>
                   </div>
                 </a>
               </div>-->


          <!-- end .AN-FEEDS-CONTENT -->
          <!--<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>-->
          <!--<div class="ps-scrollbar-y-rail" style="top: 0px; height: 370px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 220px;"></div></div>--></div>
        <!-- end .TAB-CONTENT -->
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT feeds -->
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Messages</h6>
        <div class="component-header-right">
          <a href="inbox.html" class="an-btn an-btn-primary btn-sm">View More</a>
        </div>
      </div>
      <div class="an-component-body">
        <div class="an-user-lists messages">
          <div class="list-title">
            <h6 class="basis-30">
              <span class="an-custom-checkbox">
                <input type="checkbox" id="check-1">
                <label for="check-1"></label>
              </span>
              Users
            </h6>
            <h6 class="basis-20">Date</h6>
            <h6 class="basis-30">Text</h6>

            <h6 class="basis-10">Action</h6>
          </div>

          <div class="an-lists-body an-customScrollbar">
            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-2">
                  <label for="check-2"></label>
                </span>

                <a href="#">Alex Jordan</a>
              </div>
              <div class="list-date basis-20">
                <p>15 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-3">
                  <label for="check-3"></label>
                </span>

                <a href="#">Sylvain Guiheneuc</a>
              </div>
              <div class="list-date basis-20">
                <p>12 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-4">
                  <label for="check-4"></label>
                </span>

                <a href="#">Ales Krivec</a>
              </div>
              <div class="list-date basis-20">
                <p>14 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>

              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-5">
                  <label for="check-5"></label>
                </span>

                <a href="#">Greg Rakozy</a>
              </div>
              <div class="list-date basis-20">
                <p>10 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-6">
                  <label for="check-6"></label>
                </span>

                <a href="#">Jaquline</a>
              </div>
              <div class="list-date basis-20">
                <p>10 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-7">
                  <label for="check-7"></label>
                </span>

                <a href="#">Alex Jordan</a>
              </div>
              <div class="list-date basis-20">
                <p>15 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-8">
                  <label for="check-8"></label>
                </span>

                <a href="#">Sylvain Guiheneuc</a>
              </div>
              <div class="list-date basis-20">
                <p>12 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-10">
                  <label for="check-10"></label>
                </span>

                <a href="#">Ales Krivec</a>
              </div>
              <div class="list-date basis-20">
                <p>14 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-11">
                  <label for="check-11"></label>
                </span>

                <a href="#">Greg Rakozy</a>
              </div>
              <div class="list-date basis-20">
                <p>10 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->

            <div class="list-user-single">
              <div class="list-name basis-30">
                <span class="an-custom-checkbox">
                  <input type="checkbox" id="check-12">
                  <label for="check-12"></label>
                </span>

                <a href="#">Jaquline</a>
              </div>
              <div class="list-date basis-20">
                <p>10 Nov 2016</p>
              </div>
              <div class="list-text basis-30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>

              <div class="list-action basis-10">
                <div class="btn-group">
                  <button type="button" class="an-btn an-btn-icon small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-setting"></i>
                  </button>
                  <div class="dropdown-menu right-align">
                    <ul class="an-basic-list">
                      <li>
                        <a href="#">Mark as read</a>
                      </li>
                      <li>
                        <a href="#">Mark as unread</a>
                      </li>
                      <li>
                        <a href="#">Select</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="an-btn an-btn-icon small muted danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </div>
            <!-- end .USER-LIST-SINGLE -->
          </div>
          <!-- end .AN-LISTS-BODY -->
        </div>
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-sm-6">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>News &amp; Events</h6>

      </div>
      <div class="an-component-body">
        <div class="an-feeds-content an-customScrollbar ps-container ps-theme-default" data-ps-id="157213cf-5566-df36-3ca7-3e1492899d6e">
          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-globe"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">BMI 4-Continent Executive MBA Class XIX officially ‘baptized’ into the BMI Family of 750 executives</h5>
                <p class="content">
                  <i class="icon-clock"></i> 30 min ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-globe"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">Finance experts share insights with BMI EMBA participants</h5>
                <p class="content">
                  <i class="icon-clock"></i> 1 hour ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-globe"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">Happy 10th birthday to the programme “I Choose to Teach!”</h5>
                <p class="content">
                  <i class="icon-clock"></i> 2 hour ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-globe"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">"Why Profits are not Enough" Session</h5>
                <p class="content">
                  <i class="icon-clock"></i> 3 hour ago</p>
              </div>
            </a>
          </div>

          <div class="an-info-single unread">
            <a href="#">
              <span class="icon-container important">
                <i class="glyphicon glyphicon-globe"></i>
              </span>
              <div class="info-content">
                <h5 class="user-name">"Why Profits are not Enough" Session</h5>
                <p class="content">
                  <i class="icon-clock"></i> 3 hour ago</p>
              </div>
            </a>
          </div>

          <!--<div class="an-info-single unread">
                 <a href="#">
                   <span class="icon-container important">
                     <i class="icon-setting"></i>
                   </span>
                   <div class="info-content">
                     <h5 class="user-name">User Settings is updated to level 6</h5>
                     <p class="content"><i class="icon-clock"></i> 30 min ago</p>
                   </div>
                 </a>
               </div>-->


          <!-- end .AN-FEEDS-CONTENT -->
          <!--<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>-->
          <!--<div class="ps-scrollbar-y-rail" style="top: 0px; height: 370px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 220px;"></div></div>-->
          <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
          </div>
          <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
          </div>
        </div>
        <!-- end .TAB-CONTENT -->
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT feeds -->
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>
<div class="an-panel-main-info">
  <div class="row">
    <div class="col-sm-6">
      <div class="an-single-component with-shadow">
        <div class="an-component-header">
          <h6>Books</h6>

        </div>
        <div class="an-component-body">
          <div class="an-feeds-content an-customScrollbar ps-container ps-theme-default ps-active-y" data-ps-id="59a0e906-a394-e979-5757-7cb190565266">
            <div class="an-info-single unread">
              <a href="#">
                <span class="icon-container important">
                  <i class="icon-book"></i>
                </span>
                <div class="info-content">
                  <h5 class="user-name">The Acounting Master</h5>
                  <p class="content">
                    <span>
                      <i class="icon-calendar"></i>Issued On 30 June</span>&nbsp; &nbsp;
                    <span>
                      <i class="icon-calendar"></i>Return Date 34 June</span>
                  </p>
                </div>
              </a>
            </div>

            <div class="an-info-single unread">
              <a href="#">
                <span class="icon-container important">
                  <i class="icon-book"></i>
                </span>
                <div class="info-content">
                  <h5 class="user-name">Principles of Economics</h5>
                  <p class="content">
                    <span>
                      <i class="icon-calendar"></i>Issued On 10 July</span>&nbsp; &nbsp;
                    <span>
                      <i class="icon-calendar"></i>Return Date 13 July</span>
                  </p>
                </div>
              </a>
            </div>

            <div class="an-info-single unread">
              <a href="#">
                <span class="icon-container important">
                  <i class="icon-book"></i>
                </span>
                <div class="info-content">
                  <h5 class="user-name">How Not to Be Wrong</h5>
                  <p class="content">
                    <span>
                      <i class="icon-calendar"></i>Issued On 5 March</span>&nbsp; &nbsp;
                    <span>
                      <i class="icon-calendar"></i>Return Date 7 March</span>
                  </p>
                </div>
              </a>
            </div>





            <!--<div class="an-info-single unread">
                 <a href="#">
                   <span class="icon-container important">
                     <i class="icon-setting"></i>
                   </span>
                   <div class="info-content">
                     <h5 class="user-name">User Settings is updated to level 6</h5>
                     <p class="content"><i class="icon-clock"></i> 30 min ago</p>
                   </div>
                 </a>
               </div>-->


            <!-- end .AN-FEEDS-CONTENT -->
            <!--<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>-->
            <!--<div class="ps-scrollbar-y-rail" style="top: 0px; height: 370px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 220px;"></div></div>--></div>
          <!-- end .TAB-CONTENT -->
        </div>
        <!-- end .AN-COMPONENT-BODY -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="an-single-component with-shadow">
        <div class="an-component-header">
          <h6>Mobility News</h6>

        </div>
        <div class="an-component-body">
          <div class="an-feeds-content an-customScrollbar ps-container ps-theme-default ps-active-y" data-ps-id="59a0e906-a394-e979-5757-7cb190565266">
            <div class="an-info-single unread">
              <a href="#">
                <span class="icon-container important">
                  <i class="icon-setting"></i>
                </span>
                <div class="info-content">
                  <h5 class="user-name">User Settings is updated to level 6</h5>
                  <p class="content">
                    <i class="icon-clock"></i> 30 min ago</p>
                </div>
              </a>
            </div>

            <div class="an-info-single unread">
              <a href="#">
                <span class="icon-container success">
                  <i class="icon-cart"></i>
                </span>
                <div class="info-content">
                  <h5 class="user-name">New order placed and waiting for approval.</h5>
                  <p class="content">
                    <i class="icon-clock"></i> 1 hour ago</p>
                </div>
              </a>
            </div>

            <div class="an-info-single unread">
              <a href="#">
                <span class="icon-container nutral">
                  <i class="icon-chat-o"></i>
                </span>
                <div class="info-content">
                  <h5 class="user-name">Message recieved from a customer named Joe</h5>
                  <p class="content">
                    <i class="icon-clock"></i> 2 hour ago</p>
                </div>
              </a>
            </div>
            <!--<div class="an-info-single unread">
                 <a href="#">
                   <span class="icon-container important">
                     <i class="icon-setting"></i>
                   </span>
                   <div class="info-content">
                     <h5 class="user-name">User Settings is updated to level 6</h5>
                     <p class="content"><i class="icon-clock"></i> 30 min ago</p>
                   </div>
                 </a>
               </div>-->


            <!-- end .AN-FEEDS-CONTENT -->
            <!--<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>-->
            <!--<div class="ps-scrollbar-y-rail" style="top: 0px; height: 370px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 220px;"></div></div>--></div>
          <!-- end .TAB-CONTENT -->
        </div>
        <!-- end .AN-COMPONENT-BODY -->
      </div>
    </div>
    <!--              <div class="col-md-3 col-sm-6">
       <div class="an-panel-main-info-single blue with-shadow wow fadeIn" data-wow-delay=".2s">
         <h2>4 <span class="info-identifier">Books They Have</span></h2>
         <i class="icon-book"></i>
       </div>
     </div>
     <div class="col-md-3 col-sm-6">
         <a href="#">
           <div class="an-panel-main-info-single color-cyan with-shadow wow fadeIn" data-wow-delay=".3s" style="background:#93a4ab; border:#93a4ab;">
             <h2>21 <span class="info-identifier">News On Mobility</span></h2>
             <i class="icon-globe"></i>
           </div>
          </a>
     </div>-->
    <!--<div class="col-md-3 col-sm-6">
       <div class="an-panel-main-info-single blue with-shadow wow fadeIn" data-wow-delay=".4s">
         <h2>+45% <span class="info-identifier">Bookings</span></h2>
         <i class="icon-book-o"></i>
       </div>
     </div>-->

  </div>
  <!-- end .ROW -->
</div>