.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
  border:2px solid #ededed;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.today.not-current a,.responsive-calendar .day.today.not-current a:hover,.responsive-calendar .day.future.not-current a:hover,.responsive-calendar .day.past.not-current a:hover{
	background:none;
	}
.responsive-calendar .day.today a{
	background-color: #b2304d;
  	color: #ffffff;
	}
/*.responsive-calendar .day.active a {
  background-color: #3d5ca2;
  color: #ffffff;
}*/
.responsive-calendar .day.active a:hover,.responsive-calendar .day a:hover {
  background-color: #3d5ca2;
  color:#fff;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  padding:2px 5px;
  font-size:10px;
  background:#b2304d;
}
