<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li class="active">Courses</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title" style="width:100%;">
    <h2>Courses
      <span class="pull-right">
        <a routerLink="../../" class="an-btn an-btn-default">
          <i class="glyphicon glyphicon-arrow-left"></i> &nbsp; Back</a>&nbsp;
        <!--<a href="#" data-toggle="modal" data-target="#importModal" class="an-btn an-btn-default"><i class="glyphicon glyphicon-download-alt"></i> &nbsp; Import</a>-->
      </span>
    </h2>
  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<div class="an-blog-container">
  <div class="row">
    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background: url('../assets/img/blog/blog-post-6.jpg') center center no-repeat;
                background-size:cover;">
          <span class="tag">ACCOUNTING</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Business performance management</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background:url(../assets/img/blog/blog-post-2.jpeg) center center no-repeat;
                background-size:cover;">
          <span class="tag">INTRODUCTORY SESSION</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Academic Regulation of Studies</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background:url(../assets/img/blog/blog-post-3.jpeg) center center no-repeat;
                background-size:cover;">
          <span class="tag">ACCOUNTING</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">BMI Integrity Policy</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>

    <div class="col-md-4">
      <div class="an-blog-single with-shadow-dark">
        <div class="blog-image-container" style="background:url(../assets/img/blog/blog-post-5.jpeg) center center no-repeat;
                background-size:cover;">
          <span class="tag">INTRODUCTORY SESSION</span>
        </div>
        <div class="padding20">
          <h4>
            <a href="#">Leadership & Executive Presence</a>
          </h4>
          <div class="blog-meta">
            <p>
              <a href="#">22 Jan 2019 - 24 Jan 2019</a>
            </p>
          </div>
          <div class="blog-content">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
          </div>
          <a href="#" class="an-btn an-btn-primary-transparent">View Course Details</a>
        </div>
      </div>
      <!-- end an-blog-single -->
    </div>


  </div>
  <!-- end row -->

  <!--<div class="an-pagination-container center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="ion-chevron-left"></i></span>
              </a>
            </li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">45</a></li>
            <li><a href="#">55</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true"><i class="ion-chevron-right"></i></span>
              </a>
            </li>
          </ul>
        </div>-->
  <!-- end pagination ocntainer -->
</div>