.js-show-child-nav {
    cursor: pointer;
}

.an-arrow-nav.active {
    transform: rotateX(-180deg);
}

.js-open-nav.active {
    display: block;
}

ul.active {
    display: block;
}

a.active {
    background: #9c1533;
    color: white;
}