<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title">
    <h2>All Exams</h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<!--<div class="an-doc-block default with-shadow">
      <p>This is default page layout.</p>
    </div>-->
<div class="an-single-component with-shadow">
  <div class="an-component-header">
    <h6>All Exams</h6>
  </div>
  <div class="an-component-body">
    <div class="an-helper-block">

      <div class="an-scrollable-x">
        <table class="table">
          <thead>
            <tr>
              <th>Exam Name</th>
              <th>Start</th>
              <th>End</th>
              <th>View Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MANAGERIAL ECONOMICS & GLOBAL ECONOMIC ENVIRONMENT</td>
              <td>7.00 am</td>
              <td>9.00 am</td>
              <td>
                <a href="#" class="an-btn btn-xs an-btn-primary-transparent">View</a>
              </td>
            </tr>
            <tr>
              <td>MANAGERIAL ECONOMICS & GLOBAL ECONOMIC ENVIRONMENT</td>
              <td>7.00 am</td>
              <td>9.00 am</td>
              <td>
                <a href="#" class="an-btn btn-xs an-btn-primary-transparent">View</a>
              </td>
            </tr>
            <tr>
              <td>MANAGERIAL ECONOMICS & GLOBAL ECONOMIC ENVIRONMENT</td>
              <td>7.00 am</td>
              <td>9.00 am</td>
              <td>
                <a href="#" class="an-btn btn-xs an-btn-primary-transparent">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- end .AN-HELPER-BLOCK -->
  </div>
  <!-- end .AN-COMPONENT-BODY -->
</div>
<div class="row">
  <div class="col-md-4">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Create Your Exam</h6>

      </div>
      <div class="an-component-body">

        <div class="col-sm-12">
          <br>
          <a href="#" class="an-btn an-btn-primary-transparent">Create Exam</a>
          <br>
          <br>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT -->
  </div>



</div>
<!-- end row -->