<div class="an-content-body">
  <div class="an-breadcrumb wow fadeInUp">
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li class="active">Exams</li>
    </ol>
  </div>
  <!-- end AN-BREADCRUMB -->

  <div class="an-body-topbar wow fadeIn">
    <div class="an-page-title full-width">
      <h2>Diploma Papers
        <!--<span class="pull-right"><a href="emba.html" class="an-btn btn-default same-an-btn">Cancel</a> <a href="emba.html" class="an-btn an-btn-default"><i class="glyphicon glyphicon-floppy-saved"></i> Save</a></span>-->
      </h2>

    </div>
  </div>
  <!-- end AN-BODY-TOPBAR -->

  <!--<div class="an-doc-block default with-shadow">
    <p>This is default page layout.</p>
  </div>-->
  <div class="row">
    <div class="col-md-8">
      <div class="an-single-component with-shadow">
        <div class="an-component-header">
          <h6>Search Diploma Papers</h6>

        </div>
        <div class="an-component-body">
          <div class="an-helper-block">
            <div class="row">
              <div class="col-sm-4">
                <select class="an-form-control">
                  <option>All subjects</option>
                  <option selected>Accounting & Control</option>
                  <option>Economics</option>
                  <option>Entrepreneurship</option>
                  <option>Finance</option>
                  <option>General Management</option>
                  <option>Human Resource Management</option>
                  <option>Strategy</option>
                  <option>Legal Environment</option>
                  <option>Management of Information Systems</option>
                  <option>Marketing</option>
                  <option>Operations Management</option>
                  <option>Organizational Behavior & Leadership</option>
                  <option>Other</option>
                  <option>Service Management</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="text" class="an-form-control" placeholder="Keyword" />
              </div>
              <div class="col-sm-4">
                <input type="text" class="an-form-control" placeholder="Diploma Paper defended year" />
              </div>

              <div class="col-sm-8">
                <span>
                  <h5 class="inline">
                    <b>Type : &nbsp; &nbsp;</b>
                  </h5>
                </span>
                <span class="an-custom-radiobox primary">
                  <input type="radio" name="name" id="radio-1">
                  <label for="radio-1">All</label>
                </span>
                <span class="an-custom-radiobox primary">
                  <input type="radio" name="name" id="radio-2">
                  <label for="radio-2">Confidential</label>
                </span>
                <span class="an-custom-radiobox primary">
                  <input type="radio" name="name" id="radio-3">
                  <label for="radio-3">Not confidential</label>
                </span>
                <div class="clearfix"></div>
              </div>

              <div class="col-sm-4">
                <button class="an-btn an-btn-primary pull-right" onClick="show1();">Search</button>
              </div>
            </div>
          </div>
          <!-- end .AN-COMPONENT-BODY -->
        </div>
        <!-- end .AN-SINGLE-COMPONENT -->

      </div>
    </div>

    <div class="col-md-4">
      <div class="an-single-component with-shadow">
        <div class="an-component-header">
          <h6>Accounting &amp; Control</h6>

        </div>
        <div class="an-component-body">
          <div class="an-helper-block">
            <p>Balanced scorecard, Control systems, Management Control, Performance Measurements, Financial accounting, Cost
              accounting</p>
          </div>
          <!-- end .AN-COMPONENT-BODY -->
        </div>
        <!-- end .AN-SINGLE-COMPONENT -->

      </div>
    </div>

    <!-- end row -->
  </div>

  <div class="row" style="display:none;" id="div3s">
    <div class="col-md-12">
      <div class="an-single-component with-shadow">
        <div class="an-component-header">
          <h6>Diploma Papers</h6>

        </div>
        <div class="an-component-body">
          <div class="an-helper-block">
            <div class="an-scrollable-x">
              <table class="table diploma-table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Subject</th>
                    <th>Defended year</th>
                    <th>Confidential</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Activity Based Costing: features of a small distribution company with multi-functional structure</td>
                    <td>Arūnas Brazinskas</td>
                    <td>Accounting & Control</td>
                    <td>2000</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Could the Balanced Scorecard be Implemented in Blue Bridge</td>
                    <td>Zbigniew Gulbinowicz</td>
                    <td>Accounting & Control</td>
                    <td>2000</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>Credit control: Necessity and Implementation of Credit Policy in a Company's Daily Routine</td>
                    <td>Laima Šklenikaitė</td>
                    <td>Accounting & Control</td>
                    <td>2000</td>
                    <td>Yes</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- end .AN-COMPONENT-BODY -->
        </div>
        <!-- end .AN-SINGLE-COMPONENT -->

      </div>
    </div>



    <!-- end row -->
  </div>
  <!-- end .AN-PAGE-CONTENT-BODY -->
</div>
<!-- end .AN-PAGE-CONTENT -->