<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title full-width">
    <h2>My {{ pageTitle }}
      <span class="pull-right">
        <a href="#" data-toggle="modal" data-target="#audiance" class="an-btn an-btn-primary">
          <i class="glyphicon glyphicon-send"></i>&nbsp; Group Message</a>
      </span>
    </h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<div class="row">
  <div class="col-sm-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>All Alumni</h6>
        <div class="component-header-right">
          <div class="an-default-select-wrapper" style="margin-right:10px; z-index:333;">
            <select class="an-form-control" style="height:30px;" name="sort">
              <option value="0">Select Year</option>
              <option value="1">EMBA XIX</option>
              <option value="2">EMBA XVII</option>
              <option value="3">EMBA XVIII</option>
            </select>
          </div>
          <form class="an-form" action="#">
            <div class="an-search-field">
              <input class="an-form-control" type="text" placeholder="Search...">
              <button class="an-btn an-btn-icon" type="submit">
                <i class="icon-search"></i>
              </button>
            </div>
          </form>
          &nbsp; &nbsp; &nbsp;
          <div class="an-tab-control">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs text-center" role="tablist">
              <li role="presentation" class="active">
                <a href="#order" aria-controls="order" role="tab" data-toggle="tab">&nbsp; &nbsp;
                  <i class="glyphicon glyphicon-th"></i>&nbsp; &nbsp; </a>
              </li>
              <li role="presentation">
                <a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">&nbsp; &nbsp;
                  <i class="glyphicon glyphicon-th-list"></i>&nbsp; &nbsp; </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="an-component-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="order">
            <div class="an-feeds-content an-customScrollbar">
              <div class="an-recent-users cus-user">
                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">

                        <div class="overlay"></div>
                        <div class="profile-pic-bg" style="background: url('../assets/img/users/user10.jpeg') center center no-repeat;
                      background-size:cover;">
                        </div>
                      </div>
                      <a href="profile-alumni.html" class="full-width">
                        <span class="image-container" style="background: url('../assets/img/users/user10.jpeg') center center no-repeat;
                    background-size:cover;">
                        </span>
                      </a>
                    </div>
                    <div class="profile-details">
                      <h4>
                        <a href="profile-alumni.html">Tom</a>
                      </h4>
                      <p class="location">
                        <a href="#">
                          <i class="glyphicon glyphicon-envelope"></i> Send Mail</a>
                      </p>

                    </div>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">

                        <div class="overlay"></div>
                        <div class="profile-pic-bg" style="background: url('../assets/img/users/user14.jpeg') center center no-repeat;
                      background-size:cover;">
                        </div>
                      </div>
                      <a href="profile-alumni.html" class="full-width">
                        <span class="image-container" style="background: url('../assets/img/users/user14.jpeg') center center no-repeat;
                    background-size:cover;">
                        </span>
                      </a>
                    </div>
                    <div class="profile-details">
                      <h4>
                        <a href="#">William</a>
                      </h4>
                      <p class="location">
                        <a href="#">
                          <i class="glyphicon glyphicon-envelope"></i> Send Mail</a>
                      </p>

                    </div>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">

                        <div class="overlay"></div>
                        <div class="profile-pic-bg" style="background: url('../assets/img/users/user15.jpeg') center center no-repeat;
                      background-size:cover;">
                        </div>
                      </div>
                      <a href="profile-alumni.html" class="full-width">
                        <span class="image-container" style="background: url('../assets/img/users/user15.jpeg') center center no-repeat;
                    background-size:cover;"></span>
                      </a>
                    </div>
                    <div class="profile-details">
                      <h4>
                        <a href="#">Bela</a>
                      </h4>
                      <p class="location">
                        <a href="#">
                          <i class="glyphicon glyphicon-envelope"></i> Send Mail</a>
                      </p>


                    </div>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">

                        <div class="overlay"></div>
                        <div class="profile-pic-bg" style="background: url('../assets/img/users/user16.jpeg') center center no-repeat;
                      background-size:cover;">
                        </div>
                      </div>
                      <a href="profile-alumni.html" class="full-width">
                        <span class="image-container" style="background: url('../assets/img/users/user16.jpeg') center center no-repeat;
                    background-size:cover;">
                        </span>
                      </a>
                    </div>
                    <div class="profile-details">
                      <h4>
                        <a href="profile-alumni.html">Jacky</a>
                      </h4>
                      <p class="location">
                        <a href="#">
                          <i class="glyphicon glyphicon-envelope"></i> Send Mail</a>
                      </p>


                    </div>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">

                        <div class="overlay"></div>
                        <div class="profile-pic-bg" style="background: url('../assets/img/users/user2.jpg') center center no-repeat;
                      background-size:cover;">
                        </div>
                      </div>
                      <a href="profile-alumni.html" class="full-width">
                        <span class="image-container" style="background: url('../assets/img/users/user2.jpg') center center no-repeat;
                    background-size:cover;">
                        </span>
                      </a>
                    </div>
                    <div class="profile-details">
                      <h4>
                        <a href="#">Alex</a>
                      </h4>
                      <p class="location">
                        <a href="#">
                          <i class="glyphicon glyphicon-envelope"></i> Send Mail</a>
                      </p>


                    </div>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
              </div>
              <!-- end .AN-FEEDS-CONTENT -->
            </div>
            <!-- end .AN-FEEDS-CONTENT -->
          </div>
          <!-- end .TAB-PANE -->
          <div role="tabpanel" class="tab-pane fade in" id="stats">
            <div class="an-feeds-content an-customScrollbar">
              <div class="an-user-lists messages class">

                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <a href="profile-alumni.html">
                      <span class="image" style="background: url('../assets/img/users/user10.jpeg') center center no-repeat;
                background-size: cover;">
                      </span>
                    </a>
                    <a href="profile-alumni.html">Tom</a>
                  </div>

                  <div class="list-state basis-10">
                    <a class="msg-tag unread" href="#" style="color:#fff;">Send Mail
                      <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                  </div>

                </div>
                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image" style="background: url('../assets/img/users/user14.jpeg') center center no-repeat;
                background-size: cover;">
                    </span>
                    <a href="#">William</a>
                  </div>

                  <div class="list-state basis-10">
                    <a class="msg-tag unread" href="#" style="color:#fff;">Send Mail
                      <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                  </div>

                </div>
                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image" style="background: url('../assets/img/users/user15.jpeg') center center no-repeat;
                background-size: cover;">
                    </span>
                    <a href="#">Bela</a>
                  </div>

                  <div class="list-state basis-10">
                    <a class="msg-tag unread" href="#" style="color:#fff;">Send Mail
                      <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                  </div>

                </div>
                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image" style="background: url('../assets/img/users/user16.jpeg') center center no-repeat;
                background-size: cover;">
                    </span>
                    <a href="#">Jacky</a>
                  </div>

                  <div class="list-state basis-10">
                    <a class="msg-tag unread" href="#" style="color:#fff;">Send Mail
                      <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                  </div>

                </div>
                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image" style="background: url('../assets/img/users/user2.jpg') center center no-repeat;
                background-size: cover;">
                    </span>
                    <a href="#">Alex Jordan</a>
                  </div>

                  <div class="list-state basis-10">
                    <a class="msg-tag unread" href="#" style="color:#fff;">Send Mail
                      <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                  </div>

                </div>
              </div>
              <!-- end .AN-FEEDS-CONTENT -->
            </div>
            <!-- end .AN-FEEDS-CONTENT -->
          </div>
          <!-- end .TAB-PANE -->
        </div>
        <!-- end .TAB-CONTENT -->
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
  </div>
</div>


<div id="audiance" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">Select Alumnis</h4>
      </div>
      <div class="modal-body">
        <div class="an-bootstrap-custom-tab" style="padding:0;">
          <div class="row">
            <div class="col-sm-6">
              <div class="an-input-group right">
                <div class="an-input-group-addon">
                  <i class="ion-search"></i>
                </div>
                <input type="text" class="an-form-control marg-sm" placeholder="Search Alumni">
              </div>
            </div>
            <!--<div class="col-sm-3 col-sm-offset-3">
       <button type="button" class="an-btn an-btn-default pull-right" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#send"><i class="glyphicon glyphicon-plus"></i> Invite New Teacher</button>
        <div class="clearfix"></div>
        
       </div>-->
            <div class="clearfix"></div>
            <hr>
            <div class="col-sm-12">
              <ul class="invite">
                <li>
                  <input type="checkbox" id="cb6" />
                  <label for="cb6">
                    <img src="../assets/img/profile-image.jpg" />
                    <span>Alumni 1</span>
                  </label>
                </li>
                <li>
                  <input type="checkbox" id="cb7" />
                  <label for="cb7">
                    <img src="../assets/img/profile-image.jpg" />
                    <span>Alumni 2</span>
                  </label>
                </li>
                <li>
                  <input type="checkbox" id="cb8" />
                  <label for="cb8">
                    <img src="../assets/img/profile-image.jpg" />
                    <span>Alumni 3</span>
                  </label>
                </li>
                <li>
                  <input type="checkbox" id="cb9" />
                  <label for="cb9">
                    <img src="../assets/img/profile-image.jpg" />
                    <span>Alumni 4</span>
                  </label>
                </li>
                <li>
                  <input type="checkbox" id="cb10" />
                  <label for="cb10">
                    <img src="../assets/img/profile-image.jpg" />
                    <span>Alumni 5</span>
                  </label>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>

          <!-- Tab panes -->
          <!-- end .TAB-CONTENT -->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default same-an-btn pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default same-an-btn" data-dismiss="modal">Select All</button>
        <button type="button" class="btn btn-default same-an-btn" data-dismiss="modal">Select None</button>
        <button type="button" class="an-btn an-btn-default">
          <i class="glyphicon glyphicon-send"></i>&nbsp; Send Message</button>
      </div>
    </div>

  </div>
</div>