<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title">
    <h2>News</h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<!--<div class="an-doc-block default with-shadow">
    <p>This is default page layout.</p>
  </div>-->
<div class="row">
  <div class="col-md-4">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>Create Your News</h6>

      </div>
      <div class="an-component-body">

        <div class="col-sm-12">
          <br>
          <a href="#" class="an-btn an-btn-primary" data-toggle="modal" data-target="#create-news-modal">
            <i class="glyphicon glyphicon-plus"></i> Create News
          </a>
          <br>
          <br>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
    <!-- end .AN-SINGLE-COMPONENT -->
  </div>



</div>
<div class="an-single-component with-shadow">
  <div class="an-component-header">
    <h6>All Exams</h6>
  </div>
  <div class="an-component-body">
    <div class="an-helper-block">

      <div class="an-scrollable-x">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Title</th>
              <th>Expires</th>
              <th></th>
              <th>Upload</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="an-custom-checkbox primary">
                  <input type="checkbox" id="check-1">
                  <label for="check-1"></label>
                </span>
              </td>
              <td>18.04.23</td>
              <td>
                <a href="#">BMI 4-Continent Executive MBA Class XIX officially ‘baptized’ into the BMI Family of 750 executives</a>
              </td>
              <td>10.01.01 </td>
              <td>P!</td>
              <td>
                <a href="#" class="an-btn btn-xs an-btn-primary pull-right">
                  <i class="glyphicon glyphicon-upload"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- end .AN-HELPER-BLOCK -->
  </div>
  <!-- end .AN-COMPONENT-BODY -->
</div>
<!-- end row -->

<app-create-news-modal></app-create-news-modal>