<div class="an-breadcrumb wow fadeInUp">
  <ol class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="active">Exams</li>
  </ol>
</div>
<!-- end AN-BREADCRUMB -->

<div class="an-body-topbar wow fadeIn">
  <div class="an-page-title full-width">
    <h2>Modbility Programme
      <!--<span class="pull-right"><a href="emba.html" class="an-btn btn-default same-an-btn">Cancel</a> <a href="emba.html" class="an-btn an-btn-default"><i class="glyphicon glyphicon-floppy-saved"></i> Save</a></span>-->
    </h2>

  </div>
</div>
<!-- end AN-BODY-TOPBAR -->

<!--<div class="an-doc-block default with-shadow">
    <p>This is default page layout.</p>
  </div>-->
<div class="row">
  <div class="col-sm-12">
    <div class="an-single-component with-shadow">
      <div class="an-component-header">
        <h6>All Modbility Programme</h6>
        <div class="component-header-right">
          <form class="an-form" action="#">
            <div class="an-search-field">
              <input class="an-form-control" type="text" placeholder="Search...">
              <button class="an-btn an-btn-icon" type="submit">
                <i class="icon-search"></i>
              </button>
            </div>
          </form>
          &nbsp; &nbsp; &nbsp;
          <div class="an-tab-control">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs text-center" role="tablist">
              <li role="presentation" class="active">
                <a href="#order" aria-controls="order" role="tab" data-toggle="tab">&nbsp; &nbsp;
                  <i class="glyphicon glyphicon-th"></i>&nbsp; &nbsp; </a>
              </li>
              <li role="presentation">
                <a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">&nbsp; &nbsp;
                  <i class="glyphicon glyphicon-th-list"></i>&nbsp; &nbsp; </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="an-component-body">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="order">
            <!--<div class="an-feeds-content an-customScrollbar">-->
            <div>
              <div class="an-recent-users cus-map">
                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">
                        <div class="profile-pic-bg" style="background: url('../assets/img/blog/blog-post-6.jpg');
                              background-size:cover;">
                        </div>
                        <!--<img src="../assets/img/map.jpg" class="img-responsive" />-->

                      </div>

                    </div>
                    <div class="">

                      <h5>Negotiation Skills</h5>

                    </div>
                    <ul class="social-list">
                      <li>
                        <i class="glyphicon glyphicon-info-sign"></i>
                      </li>
                      <li>
                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                      </li>
                      <li>40 / 60</li>
                      <li>
                        <a href="#" class="full-width" data-toggle="modal" data-target="#map" style="color:#fff;">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">
                        <div class="profile-pic-bg" style="background: url('../assets/img/blog/blog-post-2.jpeg');
                              background-size:cover;">
                        </div>
                        <!--<img src="../assets/img/map.jpg" class="img-responsive" />-->

                      </div>

                    </div>
                    <div class="">

                      <h5>Management Accounting & Control</h5>

                    </div>
                    <ul class="social-list">
                      <li>
                        <i class="glyphicon glyphicon-info-sign"></i>
                      </li>
                      <li>
                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                      </li>
                      <li>35</li>
                      <li>
                        <a href="#" class="full-width" data-toggle="modal" data-target="#map" style="color:#fff;">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">
                        <div class="profile-pic-bg" style="background: url('../assets/img/blog/blog-post-3.jpeg');
                              background-size:cover;">
                        </div>
                        <!--<img src="../assets/img/map.jpg" class="img-responsive" />-->

                      </div>

                    </div>
                    <div class="">

                      <h5>Leadership & Executive Presence</h5>

                    </div>
                    <ul class="social-list">
                      <li>
                        <i class="glyphicon glyphicon-info-sign"></i>
                      </li>
                      <li>
                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                      </li>
                      <li>20</li>
                      <li>
                        <a href="#" class="full-width" data-toggle="modal" data-target="#map" style="color:#fff;">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->

                <div class="an-single-user-main-body">
                  <div class="an-user-single">
                    <div class="profile-pic-container">
                      <div class="profile-pic-blur-bg">
                        <div class="profile-pic-bg" style="background: url('../assets/img/blog/blog-post-5.jpeg');
                              background-size:cover;">
                        </div>
                        <!--<img src="../assets/img/map.jpg" class="img-responsive" />-->

                      </div>

                    </div>
                    <div class="">

                      <h5>Business Simulation Game</h5>

                    </div>
                    <ul class="social-list">
                      <li>
                        <i class="glyphicon glyphicon-info-sign"></i>
                      </li>
                      <li>
                        <i class="glyphicon glyphicon-circle-arrow-right"></i>
                      </li>
                      <li>15</li>
                      <li>
                        <a href="#" class="full-width" data-toggle="modal" data-target="#map" style="color:#fff;">
                          <i class="glyphicon glyphicon-map-marker"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- end .AN-USER-SINGLE -->
                </div>
                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->


              </div>
              <!-- end .AN-FEEDS-CONTENT -->
            </div>
            <!-- end .AN-FEEDS-CONTENT -->
          </div>
          <!-- end .TAB-PANE -->
          <div role="tabpanel" class="tab-pane fade in" id="stats">
            <div class="an-feeds-content an-customScrollbar map-part">
              <div class="an-user-lists messages">

                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image">
                      <img src="../assets/img/blog/blog-post-6.jpg" />
                    </span>

                  </div>

                  <div class="list-state basis-30">
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">40 / 60</a>
                    <a class="an-btn an-btn-primary btn-xs" data-toggle="modal" data-target="#map" href="#">
                      <i class="glyphicon glyphicon-map-marker"></i>
                    </a>
                  </div>

                </div>

                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image">
                      <img src="../assets/img/blog/blog-post-2.jpeg" />
                    </span>

                  </div>

                  <div class="list-state basis-30">
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">20</a>
                    <a class="an-btn an-btn-primary btn-xs" data-toggle="modal" data-target="#map" href="#">
                      <i class="glyphicon glyphicon-map-marker"></i>
                    </a>
                  </div>

                </div>
                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image">
                      <img src="../assets/img/blog/blog-post-3.jpeg" />
                    </span>

                  </div>

                  <div class="list-state basis-30">
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">15</a>
                    <a class="an-btn an-btn-primary btn-xs" data-toggle="modal" data-target="#map" href="#">
                      <i class="glyphicon glyphicon-map-marker"></i>
                    </a>
                  </div>

                </div>
                <div class="list-user-single">
                  <div class="list-name basis-30">

                    <span class="image">
                      <img src="../assets/img/blog/blog-post-5.jpeg" />
                    </span>

                  </div>

                  <div class="list-state basis-30">
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-circle-arrow-right"></i>
                    </a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">25</a>
                    <a class="an-btn an-btn-primary btn-xs" href="#">
                      <i class="glyphicon glyphicon-heart"></i>
                    </a>
                  </div>

                </div>
              </div>
              <!-- end .AN-FEEDS-CONTENT -->
            </div>
            <!-- end .AN-FEEDS-CONTENT -->
          </div>
          <!-- end .TAB-PANE -->
        </div>
        <!-- end .TAB-CONTENT -->
      </div>
      <!-- end .AN-COMPONENT-BODY -->
    </div>
  </div>




</div>

<div id="map" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">Modbility Programme Details</h4>
      </div>
      <div class="modal-body map-part">
        <div class="an-profile-banner">

          <!--<div class="profile-setting-btn">
              <div class="an-settings-button">
                <a class="setting" href="page-profile-setting.html"><i class="icon-setting"></i></a>
              </div>
            </div>-->
          <div class="an-banner-content">
            <div class="an-profile-details">
              <div class="an-profile-left-part">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98650.72387151864!2d-119.33932332945852!3d39.4052361019609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809921bdf0003a01%3A0xb04b48db2ea881be!2sNV-439%2C+Silver+Springs%2C+NV%2C+USA!5e0!3m2!1sen!2sin!4v1532069028054"
                  width="100%" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>


              </div>
              <div class="an-profile-section">
                <div class="user-information">
                  <h5 style="color:#333;">Details</h5>
                  <div class="info-single">
                    <p class="light">Description</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>

                  <div class="info-single">
                    <p class="light">No Of Seats</p>
                    <p>60</p>
                  </div>

                  <div class="info-single">
                    <p class="light">Available Seats</p>
                    <p>30</p>
                  </div>

                  <div class="info-single">
                    <p class="light">Total Seats</p>
                    <p>120</p>
                  </div>
                  <hr>
                  <div class="info-single">
                    &nbsp;
                    <a href="#" class="an-btn an-btn-primary">Register</a> &nbsp; &nbsp;
                    <a href="#" class="an-btn an-btn-primary pull-right">Show Interest</a> &nbsp;
                  </div>
                  <br>
                </div>
              </div>
              <!-- and profile section -->

              <!--<div class="an-profile-section">
                  <div class="user-information">
                    <h5>Personal information</h5>
                    <div class="info-single">
                      <p class="light">Phone</p>
                      <p>+ 012 345 9876</p>
                    </div>
                    <div class="info-single">
                      <p class="light">Facebook</p>
                      <p>www.facebook.com/john_smith</p>
                    </div>
                    <div class="info-single">
                      <p class="light">Twitter</p>
                      <p>www.twitter.com/johnsmith29</p>
                    </div>
                    <div class="info-single">
                      <p class="light">Address</p>
                      <p>West end 41str, San Francisco, 0123456 California, US </p>
                    </div>

                  </div>
                </div>-->
              <!-- end an-profile-section -->
            </div>
          </div>
          <!-- end container -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>