<div id="createGroup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="icon-close"></i>
        </button>
        <h4 class="modal-title">Create Group</h4>
      </div>
      <div class="modal-body scroll-div">
        <div class="col-sm-6">
          <label>Group Name</label>
          <input type="text" class="an-form-control" placeholder="Group Name" />
        </div>
        <div class="col-sm-6">
          <label>Group Description</label>
          <input type="text" class="an-form-control" placeholder="Group Description" />
        </div>
        <div class="clearfix"></div>
        <div class="text-center">OR</div>
        <div class="col-sm-6">
          <label>Add To existing Group</label>
          <select class="an-form-control">
            <option>Group 1</option>
            <option>Group 2</option>
            <option>Group 2</option>
          </select>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-sm-6">
          <label>Assign Programme</label>
          <select class="an-form-control">
            <option>BMI Executive MBA</option>
            <option>BMI Leadership</option>
            <option>BMI Innovation</option>
          </select>
        </div>
        <div class="col-sm-6">

          <label>Assign Class</label>
          <select class="selectpicker an-form-control" multiple>
            <optgroup label="INTRODUCTORY SESSION">
              <option>Leadership & Executive Presence</option>
              <option>Business Simulation Game</option>
            </optgroup>
            <optgroup label="MODULE 2: ACCOUNTING">
              <option>Financial Accounting</option>
              <option>Management Accounting & Control</option>
            </optgroup>
          </select>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-sm-6 pull-right">
          <div class="an-input-group right">
            <div class="an-input-group-addon">
              <i class="ion-search"></i>
            </div>
            <input type="text" class="an-form-control marg-sm" placeholder="Search Student">
          </div>
        </div>
        <div class="row">
          <div style="display:table; margin:0 auto; width:100%;">
            <div class="col-sm-12">
              <ul class="invite">
                <li>
                  <input type="checkbox" id="cb1" checked />
                  <label for="cb1">
                    <img src="../assets/img/profile-image.jpg" />
                    <span>Student 1</span>
                  </label>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>


        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default same-an-btn pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default same-an-btn" data-dismiss="modal">Select All</button>
        <button type="button" class="btn btn-default same-an-btn" data-dismiss="modal">Select None</button>
        <button type="button" class="an-btn an-btn-default">
          <i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
      </div>
    </div>

  </div>
</div>